* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.layout {
  float: left;
  clear: both;

  /* display: flex; */
  height: 50%;
}

.layout .content {
  background-color: #bec4de;
  padding: 20px;
  flex-grow: 1;
}

.gantt {
  transform: rotate(90deg);
}

a.btn {
  display: inline-block;
  margin: 10px 0;
  padding: 8px 20px;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  box-shadow: 1px 1px 4px #8990ad;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  font-size: 0.9rem;
}

a.btn:hover {
  background-color: #f1f1f1;
}
